### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

file = open('text.txt','w+')
file.write(test1)
file.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
file = open('text.txt','r')
file.seek(0)
test2 = file.read()
file.close()
print(test2)

This is a test of the emergency text system

### 3. Create a CSV file called books.csv by using these lines: 
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

fields = ["title","author","year"]
rows=[["The Weirdstone of Brisingamen","Alan Garner",1960],
      ["Perdido Street Station","China Miéville",2000],
      ["Thud!","Terry Pratchett",2005],
      ["The Spellman Files","Lisa Lutz",2007],
      ["Small Gods","Terry Pratchett",1992]
     ]
with open('books.csv','w',newline = '') as f:
    csvwriter = csv.writer(f)
    csvwriter.writerow(fields)
    csvwriter.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

con = sqlite3.connect('books.db') # create new db

cursor = con.cursor() 

cursor.execute("CREATE TABLE IF NOT EXISTS books(title text, author text, year integer)")

con.commit()
cursor.close()

### 5. Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3

with open('books.csv', 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    fields = next(csvreader)
    con = sqlite3.connect('books.db') # create new db
    cursor = con.cursor() 

    for row in csvreader:
        row[2] = int(row[2])
        row = str(row).replace('[','').replace(']','')
        cursor.execute(f"insert into books values({row})")
        con.commit()

cursor.execute('select * from books')        

for row in cursor.fetchall():
     print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 6. Select and print the title column from the book table in alphabetical order.

In [6]:
import sqlite3

con = sqlite3.connect('books.db')

cursor = con.cursor()

cursor.execute('select title from books order by title ASC')

for row in cursor.fetchall():
    print(row)

('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)

### 7. From the book table, select and print all columns in the order of publication.

In [7]:
import sqlite3

con = sqlite3.connect('books.db')

cursor = con.cursor()

cursor.execute('select * from books order by year ASC')

for row in cursor.fetchall():
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
import sqlalchemy 
import pandas as pd

db = sqlalchemy.create_engine("sqlite:///books.db")

pd.read_sql('select * from books',db)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992
5  The Weirdstone of Brisingamen      Alan Garner  1960
6         Perdido Street Station   China Miéville  2000
7                          Thud!  Terry Pratchett  2005
8             The Spellman Files        Lisa Lutz  2007
9                     Small Gods  Terry Pratchett  1992

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
!pip install redis
import redis

redis = redis.Redis(host= '127.0. 0.1', port= '6379')

hashname = 'test'
redis.hset(hashname,'count', 1)
redis.hset(hashname,'name','Fester Bestertester')

print(redis.hgetall(hashname))

### 10. Increment the count field of test and print it.

In [ ]:
count = redis.hget(hashname,'count')

redis.hset(hashname,'count',int(count)+1)

print(redis.hgetall(hashname))